<div class="flex flex-col min-h-screen">
  <app-header></app-header>
  <main class="flex-grow">
    <app-hero></app-hero>
    
    <div id="examples" class="py-16 sm:py-24 bg-white fade-in-section opacity-0">
      <app-slideshow></app-slideshow>
    </div>

    <div id="generator" class="py-16 sm:py-24 bg-gray-50 fade-in-section opacity-0">
      <app-generator></app-generator>
    </div>

    <div id="about" class="py-16 sm:py-24 bg-white fade-in-section opacity-0">
      <app-about></app-about>
    </div>
  </main>
  <app-footer></app-footer>
</div>
